<div class="col-md-12">
  <h1 class="page-header"> Product Detail</h1>

  <section id="detail">
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <td>{{product.name}}</td>
      </tr>
      <tr>
        <th>Price</th>
        <td>{{product.price}}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{product.description}}</td>
      </tr>
    </table>    
  </section>

  <section id="comments">
    <h3> Comments </h3> 
    
    <!-- <comment ng-repeat="comment in comments" data="comment"></comment> -->
    <ul>
      <li ng-repeat="comment in comments">{{comment}}</li>
    </ul>

    <form class="form-horizontal">
      <legend> Add A Comment</legend>
      <fieldset>
        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-1 control-label" for="Comment">Comment</label>
          <div class="col-md-4">                     
            <textarea id="Comment" ng-model="newComment.body" name="Comment" class="form-control" ></textarea>
          </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-1 control-label" for="Comment"></label>
          <div class="col-md-8">
            <button id="Comment" name="Comment" class="btn btn-success" ng-click="addComment()">Comment</button>
          </div>
        </div>

      </fieldset>
    </form>       
  </section>
</div>
